.App {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Exhibition-header,
.Similar-header {
  background-color: #282c34;
  min-height: 10vh;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Exhibition-link,
.Similar-link {
  color: #09d3ac;
}

.Exhibition-graph,
.Similar-graph {
  background-color: whitesmoke;
  width: 700px;
  height: 700px;
  border: 1px solid lightgray;
}
